<% author = Author.find_by(id: @series.author_id )%>
<% author_name = Author.get_name(author) %>
<p>
<strong><%= link_to author_name, author_path(author) %></strong>
</p>
<table class='table table-striped'>
<th></th><th><%= @series.title %></th>
<% @series.books.each do |book| %>
<tr>
<td><%= book.sequence_number.to_s + '. ' %></td>
<td><%= book.title %></td>
<tr>
<% end %>
</table>
<p>
<%= @series.notes %>
</p>